body
{
    background: linear-gradient(90deg, #03DAC6, #018786)
}

header
{
    font-family: "Yellowtail", Arial;
    font-size: 100px;
    margin-top: 100px;
}

button
{
    margin-top: 90px;
} 

button:hover
{
    cursor: pointer;
}

.main-container
{   
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.row-containers
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-containers
{
    border: 1px solid black;
}

.perma-hover
{
    background-color: black;
}